*{
    margin-left:0;
    padding:0;
  }
  
  
  
  
  
  .navbar{
    width:100%;
    height:15vh;
    margin:auto;
    display:flex;
    align-items:center;
    background:#d1d1d1;
  }
  nav ul li{
    display:inline-block;
    list-style:none;
    margin:0px 25px;
    font-size:18px;
  }
  .logo{
      margin-left:20px;
      height:80px;
  }
  nav ul li{
      margin:0px 25px;
      cursor:pointer;
      color:black;
  }
  .cart{
      margin-left:180px
  }
  button{
    background-color: darkgray;
  }  